<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
    <ion-nav-bar class="bar-clear">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/welcome">
                    Welcome
                </ion-item>
                <ion-item menu-close href="#/app/stylebar-1">
                    Choose Fit
                </ion-item>
                <ion-item menu-close href="#/app/stylebar-2">
                    Choose category
                </ion-item>
                 <ion-item menu-close href="#/app/stylebar-3">
                    Choose item
                </ion-item>
                 <ion-item menu-close href="#/app/stylebar-4">
                    Customize item
                </ion-item>
                 <ion-item menu-close href="#/app/stylebar-5">
                    Confirm
                </ion-item>
                <ion-item menu-close href="#/app/thankyou">
                    Thank You
                </ion-item>
                <ion-item menu-close href="#/app/stylebar-6">
                    Email
                </ion-item>
          
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
