<ion-view class="enamel-bg">

    <ion-content class="stylebar-content">

        <div class="mens-grid">
            <div class="row">
                <div class="col col-80 col-offset-10 text-center">
                    <h1 class="big-number"><i class="icon ion-ios-color-wand"></i></h1>
                    <p class="p-large">What would you like to customize about this item?</p>
                </div>
            </div>
            <div class="row">
                <a href="#/app/{{item.id}}" class="col grid">
                    <img ng-src="{{item.image}}" class="img-bg">
                    <h3 class="grid-description">{{item.name}}</h3>
                    <p class="grid-brand">{{item.company}}</p>
                    <p class="grid-price">${{item.price}}</p>
                    <p class="grid-custom">Customize yours for only $10!</p>
                </a>
            </div>

           <div class="custom-container">
                <div class="row">
                    <div class="col col-50 col-offset-25">
                        <a href="#/app/{{item.id}}/cart" class="button button-block button-coral">ADD TO CART <i class="icon ion-ios-cart"></i></a>
                    </div>
                </div>
           </div>

        </div>

    </ion-content>
</ion-view>
