<ion-view class="enamel-bg">

    <!--<a ng-click="toggleLeftSideMenu()"></a>-->

    <ion-content class="stylebar-content ipad-whitespace">

        <div class="row">
            <div class="col col-top text-center">
                <h1 class="big-number">2</h1>
                <p class="p-large">CHOOSE A CATEGORY</p>
            </div>
        </div>
        
        <div class="row">
            <a href="#/app/womens-basics" class="col category" id="basics-women"><span class="box-title">BASICS</span></a>
            <a href="#/app/womens-fashion" class="col category" id="fashion-women"><span class="box-title">FASHION</span></a> 
            <a href="#/app/womens-leisure" class="col category" id="leisure-women"><span class="box-title">LEISURE</span></a>
        </div>
        <!--<div class="row cushion"></div>
        <div class="row cushion"></div>
        <div class="row">
            <div class="col col-50 col-offset-25 text-center">
                <p>or</p>
                <br>
                <a type="button" class="button button-block button-dark" href="#/app/stylebar-3" id="scan-item"><i class="icon fa fa-barcode"></i>  scan item</a>
            </div>
        </div>-->

    </ion-content>
</ion-view>
