<ion-view>

    <!--<a ng-click="toggleLeftSideMenu()"></a>-->

    <ion-content class="stylebar-content">

        <div class="row">
            <div class="col col-top text-center">
                <h1 class="big-number">5</h1>
                <p class="p-large">Confirm & Pay</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-80 col-offset-10 text-center">
                <p class="padding">Please review your selection.  When you are 
                ready to purchase, please see the Target representative.</p>
            </div>
        </div>

        <div class="row">
            <div class="col pay-photo"></div>
            <div class="col">
                <h3 class="pay-style">Women's<br>
                Mid Rise Jeggings</h3>
                <p class="pay-brand">Mossimo Supply Co.</p>
                <p class="pay-price">$39.99</p>
                <p class="pay-price-description">including customization</p>
            </div>
        </div>
        <br>
        <div class="row padding">
            <ul class="list col list-checkout">
                <a class="item item-icon-right">
                    Size
                    <span class="item-note">
                        Body Scan <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    Color
                    <span class="item-note">
                        Acid Wash <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    Fly
                    <span class="item-note">
                        Button <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    Pocket Lining
                    <span class="item-note">
                        Checkers <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    Thread
                    <span class="item-note">
                        Black <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    Back Pocket
                    <span class="item-note">
                        Default <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
                <a class="item item-icon-right">
                    More
                    <span class="item-note">
                        Make it fit tighter... <i class="icon ion-ios-arrow-right"></i>
                    </span>
                </a>
            </ul>
        </div>

        <div class="row">
            <div class="col col-80 col-offset-10"><p class="text-center">Please review your selection.  When you are ready to purchase, please see the Target representative.</p></div>
        </div>

        <div class="row">
            <div class="col"><a class="button button-block button-stable">password</a></div>
            <div class="col"><a class="button button-block button-assertive">Target Only</a></div>
        </div>

    </ion-content>
</ion-view>
