<ion-view class="enamel-bg">

    <!--<a ng-click="toggleLeftSideMenu()"></a>-->

    <ion-content class="stylebar-content">

        <div class="row padding">
            <div class="col ipad-whitespace ipad-whitespace-small">
                <div class="row">
                    <div class="col col-top text-center">
                        <h1 class="big-number">1</h1>
                        <p class="p-large">Please choose your size</p>
                    </div>
                </div>

                <div class="row cushion"></div>

                <div class="row">
                    <div class="col col-80 col-offset-10 text-center">
                        <p class="">Import your measurements direct from our body scanner</p>
                        <a type="button" class="button button-block button-seafoam" href="#/app/stylebar-2" id="womens-custom-size">CUSTOM SIZE</a> 
                    </div>
                </div>

                <div class="cushion">
                    <p class="text-white" style="color: rgba(0,0,0,.8); margin-top: 20px;">~ OR ~</p>
                </div>

                <div class="row">
                    <div class="col col-80 col-offset-10 text-center">
                        <p class="">Start by selecting one of our standard sizes</p>
                        <a type="button" class="button button-block button-seafoam" href="#/app/stylebar-2" id="womens-standard-size">STANDARD SIZES</a> 
                    </div>
                </div>
            </div> 
        </div>


    </ion-content>
</ion-view>
