<ion-view class="enamel-bg">

    <!--<a ng-click="toggleLeftSideMenu()"></a>-->

    <ion-content class="stylebar-content">

        <div class="row padding">
            <div class="col">
                <a class="sonadier_forms_button button button-positive" title="Open Register" alt="Open Register" href="https://forms.sonadier.com/KZ8X5MVMRP">Register</a><script>if(!document.getElementById("sonadier_fbtncss")){var a=document.createElement("link");a.id="sonadier_fbtncss";a.rel="stylesheet";a.type="text/css";a.href="https://forms.sonadier.com/button.css";a.media="all";document.getElementsByTagName("head")[0].appendChild(a)};</script>
            </div> 
        </div>


    </ion-content>
</ion-view>
