<ion-view class="enamel-bg">

    <ion-content class="stylebar-content">

        <div class="mens-grid">
            <div class="row cushion"></div>
                        <div class="row cushion"></div>
            <div class="row">
                <div class="col text-center">
                    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="card padding" style="padding: 30px; background: rgba(0,0,0,.8);">
<form action="https://style.us11.list-manage.com/subscribe/post?u=c0a692613a725c2e3f819ef84&amp;id=618cec1e4e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <p style="font-size: 30px; line-height: 35px; color: #eee; margin-bottom: 30px;">To continue participating in style innovation test, please enter your email address.  We promise we won't spam you.</p>
    <input type="email" value="" name="EMAIL" class="email item item-input" id="mce-EMAIL" placeholder="Jane.Doe@style.com" required style="width: 100%; height: 55px; border-radius: 0px;">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c0a692613a725c2e3f819ef84_618cec1e4e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-block button-seafoam" style="border-radius: 0px;"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
                </div>
            </div>

        </div>
          
    </ion-content>
</ion-view>
