<ion-view class="enamel-bg">

    <ion-content class="stylebar-content">

        <div class="mens-grid">
            <div class="row">
                <div class="col col-50 col-offset-25 col-top">
                    <center><img ng-src="" class="img-centered" style="width: 140px;"></center>
                </div>
            </div>
            <div class="row">
                <div class="col col-80 col-offset-10 text-center">
                    <p class="p-large">Thank you for participating! <br><br>If you would like to be considered for future style innovation tests, please click next</p>
                </div>
            </div>


            <div class="row">
                <div class="col col-50 col-offset-25">
                    <a href="#/app/{{item.id}}/subscribe" class="button button-dark button-block">NEXT</a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
