<ion-view>

    <a ng-click="toggleLeftSideMenu()"></a>

    <ion-content>

        <div class="row">
            <div class="col col-50 col-offset-25 col-top">
                <center><img ng-src="" class="img-centered" style="width: 140px;"></center>
            </div>
        </div>

        <div class="row cushion"></div>

        <div class="row">
            <div class="col text-center ipad-whitespace">
                <h1 style="color: rgba(0,0,0,1);">Remake</h1>
                <p class="welcome-text">Think you've got what it takes to be a maker? Think again hotshot.</p>

                <div class="row cushion"></div>

                <div class="row">
                    <div class="col">
                        <a class="button button-block button-positive button-stable" style="background: rgba(76,202,162,1); font-family: 'HelveticaNeue Target Light';"href="#/app/stylebar-1-mens" id="start-male"><strong>Maker</strong></a>
                    </div>

                    <div class="col">
                        <a class="button button-block button-positive button-stable" style="font-family: 'HelveticaNeue Target Light';" href="#/app/stylebar-1" id="start-female"><strong>Faker</strong></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <p class="copyright-text"></p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
